.process{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.process-heading{
    font-size: clamp(3rem, 4vw, 6rem);
    margin-bottom: 2rem;
    color: #00d4ff;
    text-align: center;
}

.accordion{
    max-width: 800px;
    text-align: center;
    width: 100%;
}

.accordion-item{
    background: rgba(255, 255, 255, 0.05);
    border: 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
    overflow: hidden;
}

.accordion-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    gap: 1rem;
}

.accordion-header:hover{
    background: rgba(255, 255, 255, 0.1);
}

.accordion-number{
    font-size: clamp(1.5rem, 2vw, 3rem);
    color: #00d4ff;
    width: 2.5rem;
    text-align: center;
}

.accordion-title{
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
}

.accordion-icon{
    font-size: clamp(1rem, 1.3vw, 2rem);
    color: #00d4ff;
    margin-left: auto;

}

.accordion-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.accordion-item.active .accordion-content{
    max-height: 200px;
}

.accordion-items{
    margin-top: 1rem;
    margin-left: 1rem;
}

.accordion-item-text{
    font-size: clamp(1rem, 1.3vw, 2rem);
    color: #b0b0b0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    list-style: none;
}